* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Chivo', sans-serif;
}

a, img {
  cursor: pointer;
}

.content-position {
  max-width: 1440px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ffc901;
  outline: 10px solid #ffc901;
}

body header {
  padding-top: 85px;
  padding-bottom: 50px;
  background-image: url(../assets/bg/section-1_bg.png);
  background-size: 100%;
  height: 100%;
}

body header .nav-wrap {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding-top: 26px;
  padding-bottom: 26px;
}

body header .nav-wrap .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .nav-wrap .nav-content .nav-block {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .nav-wrap .nav-content .nav-block li {
  margin-right: 50px;
}

body header .nav-wrap .nav-content .nav-block li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

body header .nav-wrap .nav-content .nav-block li a:hover {
  color: #ffc901;
}

body header .nav-wrap .nav-content .nav-block li:last-child {
  margin-right: 0;
}

body header .nav-wrap .nav-content .img-wrap a .logo {
  /* width: 200px; */
}

body header .nav-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 220px;
}

body header .nav-content-wrap .column {
  text-align: right;
  /* column 1 */
  position: relative;
  /* /column 1 */
  /* column 2 */
  /* /column 2 */
}

body header .nav-content-wrap .column .bg-img {
  position: absolute;
  top: -160px;
  left: -250px;
}

body header .nav-content-wrap .column h1 {
  width: 600px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 35px;
  padding-left: 280px;
}

body header .nav-content-wrap .column a {
  text-decoration: none;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ffc901;
}

body header .nav-content-wrap .column .img-wrap {
  margin-top: 120px;
  margin-bottom: 170px;
}

body header .nav-content-wrap .column p {
  width: 420px;
  font-size: 53px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  padding: 25px 25px 25px 450px;
  background: linear-gradient(240deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
  text-align: right;
}

body header .nav-content-wrap .column p a {
  text-decoration: none;
  font-size: 53px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ffc901;
}

body main .main-wrap-1 {
  padding-top: 125px;
  padding-bottom: 125px;
  background-image: url(../assets/bg/section-2_bg.png);
  background-position: bottom;
  background-size: 100%;
  -webkit-box-shadow: inset 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
}

body main .main-wrap-1 .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

body main .main-wrap-1 .content-wrap .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
  width: 580px;
}

body main .main-wrap-1 .content-wrap .heading .heading-logo {
  margin-left: 40px;
  margin-right: 40px;
}

body main .main-wrap-1 .content-wrap .heading::before {
  display: block;
  content: "";
  background-image: url("../assets/icon/Shape.png");
  background-size: cover;
  width: 65px;
  height: 19px;
}

body main .main-wrap-1 .content-wrap .heading::after {
  display: block;
  content: "";
  background-image: url("../assets/icon/Shape2.png");
  background-size: cover;
  width: 65px;
  height: 19px;
}

body main .main-wrap-1 .content-wrap .text {
  width: 579px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 70px;
}

body main .main-wrap-1 .content-wrap .sub-heading {
  width: 320px;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
}

body main .main-wrap-1 .content-wrap .sub-heading a {
  color: #ffc901;
}
/*# sourceMappingURL=style.css.map */